/* ejercicio1 styles */

.changeColorContainer{
    text-align: center;
    margin-top: 20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
   
}

h1 {
    text-align: center;
    color: #333333;
    font-family: 'Arial', sans-serif;
}

/* ejercicio2 styles */

.clickCounterContainer{
    text-align: center;
    margin-top: 20px;

    p{
        font-size: 18px;
        color: #555555;
    }
}

#index-h1 {
    text-align: left;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

li{
    margin-bottom: 10px;
    margin-right: 10px;
}